
body{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:2;
  font-family: Arial, sans-serif;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ae00ff;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active{
    background-color: #d9ff00;
  }
  
  
  table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
  #random-data-table{
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    line-height:3;
  }
  